{% extends 'base.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block contenido %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{ producto.id }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.precio|number_format(2, ',', '.') }}€</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block pie %}
{{ parent() }}
<p>Nada más que añadir por ahora</p>
{% endblock %}